@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    display: flex;
    flex-direction: column;
   /*background-color: grey;*/
   background-image: url(img/ban-vinyl.webp);
   background-size: cover;
   
   font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/*-----------NAVBAR--------*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(142, 99, 64);
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 2px solid gold;
}
#header img{
    margin-top: 12px;
    width: 150px;
}

#mobile #bar {
    color: gold;
}

#mobile .panier {
    color: gold;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 23px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active {
    color: gold;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: gold;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/*-----------------------FORMULAIRE--------------*/

#connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 500px;
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
    /*min-width: 300px;*/
}
#connexion i:hover{
    color: gold;
}

#connexion h1{
    color: gold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

#connexion .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#connexion .social-media p{
   padding: 20px;
   margin-right: 15px;
   width: 20px;
   cursor: pointer;
 
}

#connexion p.choose-email{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

#connexion .inputs{
    display: flex;
    flex-direction: column;
}

#connexion .inputs input[type="email"], input[type="password"]{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

#connexion p.inscription{
    font-size: 17px;
    margin-bottom: 20px;
    color: #878787;
}
#connexion p.inscription span{
    color: gold;
    
    cursor: pointer;
}
#connexion button{
    padding: 15px 25px;
    border:1px solid white;
    border-radius: 5px;
    font-size: 15px;
    background-color: #eb7371;
    cursor: pointer;
    color: white;
}

/*------------------MEDIA QUERY----------*/
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }


    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}
@media (max-width:1280px){
    #connexion .inputs input[type="email"], input[type="password"]{
        width: 100%;
    }
    #connexion{
        margin-left: 150px;
        margin-right: 150px;
    }
}
@media (max-width: 540px){
    #connexion{
      margin-right: 20px;
        margin-left: 20px;
    }
}
@media (max-width: 477px){
    #connexion{
      margin-right: 20px;
        margin-left: 20px;
    }
}

